body
{
	background: url(../Imagenes/Progreso/fondo.jpg) center center no-repeat;
	background-size: cover;
}

img
{
	width:600px;
	height:400px;
	display: block;
	margin: auto;
}

a
{
	border-radius:9px;
	border:2px solid white;
	padding: 20px;
	width:300px;
	text-decoration: none;
	background-color:white;
	font-family:Arial,Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,sans-serif;
	font-size: 25px;
	color:black;
	font-weight:bold;
	display: block;
	margin: auto;
	box-shadow:0px 0px 50px 3px black;
	text-align: center;
}

h1
{
	text-shadow:5px 5px 10px white,-5px 5px 10px white,5px -5px 10px white,-5px -5px 10px white;
	text-align: center;

}
a:hover
{
	background-color:lightgrey;
	box-shadow:0px 0px 50px 3px white;
	padding: 23px;
}
