h3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: rgb(30, 0, 255);
  
}


#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 200px;
}
 

#menu ul a {
  font-weight: 400px;
  font-size: 20px;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
#menu ul li {
  margin: 0;
  padding: 0;
  border: solid;
  border-width: 0.5px;
  background-color:rgb(60, 255, 0);
  border-color:black;
  position: relative;
}


 #menu ul ul li {
  
  width:200px;
  background-color:rgb(255, 0, 0);
 }


 #menu ul ul {
  position:absolute;
  top:100%;
  left:0;
  display:none;
  background:#eee;
  padding:0;
 }
 
  
 #menu ul li a {
  padding:10px;
  color:white;

 }

 #menu ul li:hover {
  background-color: rgb(157, 0, 255);
 }

 
 #menu ul li:hover a{
  color: white;
 } 
 
 
 #menu ul li:hover  ul {
  position: absolute;
  left: 198px;
  top: 0px;
  display:block;
  background-color:rgb(157, 0, 255);  

 }
