body
{
	text-align:center;
	animation-name:fondo;
	animation-iteration-count:infinite;
	animation-duration:10s;
}
@keyframes fondo
{

	0%{background-color:darkred;}
	25%{background-color:darkblue;}
	50%{background-color:darkgreen;}
	75%{background-color:darkyellow;}
	100%{background-color:darkred;}
}
h1
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 65px;
  text-decoration: underline;
  letter-spacing: 0.25em;
  color:white;
  
}
#menu
{
	position:relative;
	top:5%;
	width:1300px;
	margin:auto;
}
table
{
	margin:auto;
	border-spacing: 30px;
}
td
{
	width:400px;
	height:100px;
	border:2px solid white;
	text-align:center;
	border-radius:9px;
	transition:all 0.2s;
	background-color:white;
	overflow:hidden;
}
a
{
	text-decoration: none;
	font-family:Arial,Trebuchet MS;
	font-size: 25px;
	color:black;
	font-weight:bold;
}
a.a{padding:35px 67px 35px 67px;}
a.b{padding:35px 67px 35px 67px;}
a.c{padding:35px 65px 35px 65px;}
a.d{padding:35px 22px 35px 21px;}
a.e{padding:35px 62px 35px 62px;}
a.f{padding:35px 86px 35px 86px;}
p
{
	margin-top:3.3em;
}

td:hover
{
	background-color:lightgrey;
	box-shadow:0px 0px 50px 3px white;
}
td#nove:hover
{
	background-image:url("Elementos/varco2.png");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}
td#edu:hover
{
	background-image:url("Elementos/color.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}
td a:hover
{
text-shadow:5px 5px 10px white,-5px 5px 10px white,5px -5px 10px white,-5px -5px 10px white;
}
td#fanta:hover
{
	background-image:url("Elementos/dragon.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}
td#cien:hover
{
	background-image:url("Elementos/espacio.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}
td#roma:hover
{
	background-image:url("Elementos/love.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}
td#thrill:hover
{
	background-image:url("Elementos/hacha.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px 3px white;
}