body
{
	background-color:lightyellow;
	background-image:url(ElementosPag/libro.jpg);
	background-size:cover;
	font-family:Helvetica;
}

h1
{
	font-size: 60px;
	letter-spacing: 0.25em;
	border:5px solid grey;
	background-color:rgba(231,217,144,0.5);
	padding:0px;
	margin:auto;
	position:relative;
	color:white;
}
img
{
	width:340px;
	height:500px;
}
table
{
	margin:auto;
	margin-bottom:20px;
	margin-top:20px;
}
td
{
	width:900px;
}
#title{text-decoration: underline;}
th.title
{
	background-color:#E7D990;
	font-size: 30px;
	text-align:left;
	height:60px;
	padding:10px;
}
#autor{text-decoration: underline;font-weight:bold;}
td.autor
{
	background-color:#E7D990;
	font-size: 20px;
	text-align:left;
	height:50px;
	padding:10px;
}
#genero{text-decoration: underline;font-weight:bold;}
td.genero
{
	background-color:#E7D990;
	font-size: 20px;
	text-align:left;
	height:50px;
	padding:10px;
}
#desc{text-decoration: underline;font-weight:bold;}
td.desc
{
	background-color:rgba(0,0,0,0.5);
	font-size: 20px;
	text-align:left;
	padding:10px;
	color:white;
	vertical-align:top;
}
td#compra
{
	background-color:black;
	color:white;
}
a{float: left; clear: left;}
a.compra
{
	text-align:center;
	text-decoration: none; 
	background: #EEE; 
	color: #222; 
	border: 1px outset #CCC; 
	padding: 10px 128px 10px 128px;
}
a.compra:hover 
{
background: #CCB; 
} 
a.compra:active 
{ border: 1px inset #000; }

